mat-toolbar {
    background-color: #0079c1;
    padding: 5px;
}

.mat-sidenav-container {
    height: 100%;
}

.example-sidenav-content {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.mat-icon {
    height: 20px;
    width: 32px
}




